<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                {
                "timestamp": "%d{HH:mm:ss.SSS}",
                "serviceName": "%X{serviceName}",
                "userId": "%X{userId}",
                "guid": "%X{guid}",
                "traceId": "%X{X-B3-TraceId:-}",
                "message": "%msg%n",
                "level": "%-5level"
                }
            </pattern>
        </encoder>
    </appender>

    <!-- This is the kafkaAppender -->
    <appender name="kafkaAppender" class="com.github.danielwegener.logback.kafka.KafkaAppender">
        <encoder>
            <pattern>
                {"timestamp":"%d{HH:mm:ss.SSS}","serviceName":"%X{serviceName}","userId":"%X{userId}","guid":"%X{guid}","traceId":"%X{X-TRACE-ID}","message":"%msg%n","level":"%-5level"}
               </pattern>
        </encoder>
        <topic>logs</topic>
        <keyingStrategy class="com.github.danielwegener.logback.kafka.keying.NoKeyKeyingStrategy" />

        <deliveryStrategy class="com.github.danielwegener.logback.kafka.delivery.AsynchronousDeliveryStrategy" />

        <!-- Optional parameter to use a fixed partition -->
        <!-- <partition>0</partition> -->

        <!-- Optional parameter to include log timestamps into the kafka message -->
        <!-- <appendTimestamp>true</appendTimestamp> -->

        <!-- each <producerConfig> translates to regular kafka-client config (format: key=value) -->
        <!-- producer configs are documented here: https://kafka.apache.org/documentation.html#newproducerconfigs -->
        <!-- bootstrap.servers is the only mandatory producerConfig -->
        <producerConfig>bootstrap.servers=localhost:9092</producerConfig>
        <!--<producerConfig>value.serializer=org.apache.kafka.common.serialization.StringSerializer</producerConfig>-->
        <!--<producerConfig>key.serializer=org.apache.kafka.common.serialization.StringSerializer</producerConfig>-->

        <producerConfig>linger.ms=500</producerConfig>



        <!-- this is the fallback appender if kafka is not available. -->
        <appender-ref ref="STDOUT" />
    </appender>

    <root level="INFO">
        <appender-ref ref="kafkaAppender" />
        <appender-ref ref="STDOUT" />

    </root>
</configuration>